.overlay{
    background-color:skyblue;
    position:fixed;
    top:75px;
    left:0;
    right:0;
    bottom:0;
    z-index:5;
    opacity:0.2;
    pointer-events:none;
    overflow:none;
}
.contain{
    margin:0 auto;
    position:relative;
}

.spin-center{
    position:absolute;
    top:50%;
    left:50%;
}